@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

:root {
  --color-white: #fff;
  --color-blue: #4a00e0;
  --color-purple: #8e2de2;
  --border-radius: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    var(--color-purple),
    var(--color-blue)
  );
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 500px;
  text-align: center;
  padding: 50px;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
}

#setup,
#punchline {
  font-size: 32px;
  color: var(--color-white);
  font-weight: 300;
  transition: 1s;
}

#btn {
  font-size: 20px;
  color: var(--color-blue);
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  padding: 10px 15px;
  cursor: pointer;
}

#btn:hover {
  opacity: 0.6;
  transition: 0.4s;
}
